.wrapper{
    width: 100%;
    text-align: center;
}

.wrapper h2{
   margin-bottom: 20px;
   font-size: 28px;
}

.wrapper .carousel{
    max-width: 1600px;
    margin: auto;
    padding: 0 30px;
}

.carousel .card{
    height: 300px;
    font-size: 90px;
    font-weight: 600;
    margin: 20px 0;
    border-radius: 10px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
    
    position: relative;
    display: flex;
    flex-direction: column;

    overflow: hidden;
}

.carousel .card:hover {
    scale: 1.1;
    z-index: 9999;
}

.owl-item.active{
    z-index: 1;
}

.owl-item.active:hover{
    z-index: 2;
}

.owl-dots{
    text-align: center;
    margin-top: 40px;
}

.owl-dot{
    height: 15px;
    width: 45px;
    border-radius: 25px;
    cursor: pointer;
    outline: none;
    margin: 0 5px;
    border: 2px solid var(--color2) !important;
    transition: all 0.3s ease;
}

.owl-dot:hover,
.owl-dot.active{
    background: var(--color2) !important;
}

.carousel h3{
    padding-left: 30px;
    font-size: 18px;
    height: 50px;
    line-height: 50px;
    width: 100%;
    text-align: start;
}

.carousel img{
    height: 250px;
    width: 100%;
}

.carousel a{
    font-size: 30px;
    padding: 10px 30px 10px 10px;
    color: white;
}

.carousel .card_content{
    display: flex;
}

.carousel .card-1 .card_content{
    background: #d43356;
    color: white;
}

.carousel .card-2 .card_content{
    background: #0072bc;
}

.carousel .card-3 .card_content{
    background: #39b54a;
}

.carousel .card-4 .card_content{
    background: #f26522;
}

.carousel .card-5 .card_content{
    background: #630460;
}
